# Application
VITE_APP_NAME="EvoNext"
VITE_APP_VERSION="25.12.3"

# Network Configuration
VITE_DEFAULT_NETWORK="testnet"
VITE_MIN_CREDIT_TRANSFER="100000"

# API Endpoints
VITE_DASHSWAP_ENDPOINT="https://dashswap.xyz/v1"
VITE_DAPI_WEB_API_ENDPOINT="https://dashqt.org/v1/dapi"
VITE_PLATFORM_HTTP_API_MAINNET="https://platform-explorer.pshenmic.dev"
VITE_PLATFORM_HTTP_API_TESTNET="https://testnet.platform-explorer.pshenmic.dev"

# Contract IDs
VITE_DUSD_CONTRACT_ID_MAINNET="DYqxCsuDgYsEAJ2ADnimkwNdL7C4xbe4No4so19X9mmd"
VITE_DUSD_CONTRACT_ID_TESTNET="3oTHkj8nqn82QkZRHkmUmNBX696nzE1rg1fwPRpemEdz"
VITE_SANS_CONTRACT_ID_MAINNET="AxAYWyXV6mrm8Sq7vc7wEM18wtL8a8rgj64SM3SDmzsB"
VITE_SANS_CONTRACT_ID_TESTNET="A36eJF2kyYXwxCtJGsgbR3CTAscUFaNxZN19UqUfM1kw"

# Decimal Places
VITE_DUSD_DECIMAL_PLACES="6"
VITE_SANS_DECIMAL_PLACES="8"

# Update Configuration
VITE_UPDATER_ENDPOINT="https://releases.evonext.app/{{target}}/{{arch}}/{{current_version}}"

# Development
VITE_DEV_HOST="localhost"
